/* nav bar */

.brand-logo {
    margin: auto 20px;
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px black;

}

.mobile-heading {
    font-family: 'Great Vibes', cursive;
}

/* General */
body {
    background-color: #FFF8D9;
    font-family: 'EB Garamond', serif;
}

button {
    font-family: 'EB Garamond', serif;
} 

.btn {
    font-family: 'EB Garamond', serif;
}

/* Registration */

.flashes h4 {
    line-height: 2;
}

/* Manage recipes */

.form-button {
    font-family: 'EB Garamond', serif;
}

/* Recipes */

.recipe-popout {
    margin: 7% auto;
}

.icon {
    margin: auto 0.7%;
}

.recipeTitle {
    margin: auto 5%;
    font-size: 1.5em;
}

.btn-div {
    margin: auto 5% auto auto;
}


.btn-small {
    margin: auto 0.87em;
}