/* nav bar */

.brand-logo {
    margin: auto 20px;
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px black;

}

.mobile-heading {
    font-family: 'Great Vibes', cursive;
}

/* General */
body {
    background-color: #FFF8D9;
    font-family: 'EB Garamond', serif;
}

button {
    font-family: 'EB Garamond', serif;
} 

.btn {
    font-family: 'EB Garamond', serif;
}

a:visited {
    text-decoration: none;
  }

/* Registration */

.flashes h4 {
    line-height: 2;
}

/* Manage recipes */

.form-button {
    font-family: 'EB Garamond', serif;
}

/* Recipes */

.recipe-popout {
    margin: 7% auto;
}

.icon {
    margin: auto 0.7%;
}

.recipeTitle {
    margin: auto 5%;
    font-size: 1.5em;
}

.btn-div {
    margin: auto 5% auto auto;
}


.btn-small {
    margin: auto 0.87em;
}

/* Profile */

.fb {
    font-size: 5em;
    color: #43609C;
}

.ig {
    font-size: 5em;
    color: #C13584;
}

.twtr {
    font-size: 5em;
    color: #55acee;
}

/* Footer */

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 0;
    margin: 2em auto 0 auto;
}

/* Newsletter */

.subscribe {
    background-color: #D5DBB3;
    border-radius: 0.25em;
    padding: 1em;
    border: none;
    margin: 0.5em auto auto;
}

.subscribe:hover {
    background-color: #EBA83A;
}

#news-email {
    margin: 0.4em auto auto;
    color: black;
}