/* nav bar */

.brand-logo {
    margin: auto 20px;
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px black;

}

.mobile-heading {
    font-family: 'Great Vibes', cursive;
}

/* General */
body {
    background-color: #FFF8D9;
    font-family: 'EB Garamond', serif;
}

/* Registration */

.flashes h4 {
    line-height: 2;
}

/* Manage recipes */

.form-button {
    font-family: 'EB Garamond', serif;
}