{% extends "base.html" %}
{% block content %}


    <ul class="collapsible popout">
        {% for recipe in recipes %}
            <li>
                <div class="collapsible-header amber">
                    <i class="fas fa-utensils tooltipped" data-position="left" data-tooltip="Click here to reveal a delicious recipe"></i>
                    <h6>{{ recipe.recipe_name }}</h6>
                </div>
                <div class="collapsible-body">
                    <h6>Recipe Type:</h6>
                        <strong>{{ recipe.recipe_type }}</strong>
                    <h6>Ingredients:</h6>
                        <strong>{{ recipe.ingredients }}</strong>
                    <h6>Cooking Instructions:</h6>
                        <strong>{{ recipe.how_to_cook}}</strong>
                    <h6>Preperation Time</h6>
                        <strong>{{ recipe.prep_time }}</strong>
                    <h6>Cook Time</h6>
                        <strong>{{ recipe.cook_time }}</strong>
                    <h6>Clean-up Time</h6>
                        <strong>{{ recipe.cleanup_time }}</strong>
                    <h6>Total Time Spent Preparing, Cooking and Cleaning up</h6>
                        <strong>{{ recipe.total_time }}</strong>
                </div>
            </li>
        {% endfor %}
      </ul>

{% endblock %}