{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Recipe's</h3>

<div class="row card-panel">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix"></i>
                <input type="text" id="query" name="query" minlength="3" class="validate" required>
                <label for="query">Search Recipes</label>
                <p>To search for a specific recipe or meal type, search the key words: "Breakfast", "Lunch", "Dinner", "Starter", "Main" or "Dessert".</p>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_recipes') }}" class="red btn">Reset</a>
                <button type="submit" class="btn">
                    <i class="fas fa-search"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>

    {% if recipe|length > 0 %}

        <ul class="collapsible popout">
            {% for recipe in recipes %}
                <li>
                    <div class="collapsible-header amber col s6 offset-s6">
                        <div class="icon">
                            <i class="fas fa-utensils tooltipped col s1" data-position="left" data-tooltip="Click here to reveal a delicious recipe"></i>
                        </div>
                        <div class="recipeTitle">
                            <h6>{{ recipe.recipe_name }}</h6>
                        </div>
                        <div class="btn-div">
                            {% if session.user|lower == recipe.created_by|lower %}
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small">Edit</a>
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                
                    <div class="collapsible-body">
                        <h6>Recipe Type:</h6>
                            <strong>{{ recipe.recipe_type }}</strong>
                        <h6>Ingredients:</h6>
                            <strong>{{ recipe.ingredients }}</strong>
                        <h6>Cooking Instructions:</h6>
                            <strong>{{ recipe.how_to_cook}}</strong>
                        <h6>Preperation Time:</h6>
                            <strong>{{ recipe.prep_time }}</strong>
                        <h6>Cook Time:</h6>
                            <strong>{{ recipe.cook_time }}</strong>
                        <h6>Clean-up Time:</h6>
                            <strong>{{ recipe.cleanup_time }}</strong>
                        <h6>Total Time Spent Preparing, Cooking and Cleaning up:</h6>
                            <strong>{{ recipe.total_time }}</strong>
                            <p><em>Created by: {{ recipe.created_by }}</em></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3 class="center-align red-text">No Recipe's Found</h3>  
    {% endif %}

{% endblock %}